@btm-height: 60px;

@white: #ffffff;
@primary: pink;
@gold: gold;
@silver: silver;
@coppery: yellow;

.trans-black (@trans: 0.5) {
  background-color: rgba(0, 0, 0, @trans);
}

@font-mini: 12px;
@font-sm: 14px;
@font: 16px;
@font-lg: 17px;
@gray: #ddd;
